$breakingPoint: 780px;

.counter {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;

  > div:first-child {
    font-size: 100px;
  }

  a {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }

  .controls {
    display: flex;
    flex-direction: row-reverse;

    > div {
      min-width: 40px;
      height: 40px;
      text-align: center;
      background: #fff;
      color: #3f51b5;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 0 5px;
      cursor: pointer;
    }
    .cons span {
      border: 1px solid#20639B;
      padding: 15px;
      min-width: 4rem;
      margin: 9px;
      color: #CFE4F5;
      background-color: #20639B;
      transition: all .3s ease-in;
     &:hover {
       border: 1px solid #3CAEA3;
       color: #124343;
       background-color:#3CAEA3 ;
     } 
    }
  }
}

@media screen and (max-width: $breakingPoint) {
  .dis {
    display: none !important;
  }
}